[user]
	email = kukarzev@gmail.com
	name = Gena Kukartsev
[core]
	autocrlf = input
[alias]
	lg = log --oneline --decorate --graph --all
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
